@import "bootstrap";
@import'../sass/header.scss';
@import'../sass/jumbo.scss';
@import'../sass/fumetti.scss';
@import'../sass/comics.scss';
@import'../sass/footer.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.container{
    max-width: 1300px;
    margin: 0 auto;
}
  
a{
    text-decoration: none;
}
img{
    height: 100%;
}
  
.row{
    display: flex;
    flex-wrap: wrap;
    }


   