footer{
    color:  #959595;
    h3{
        color: white;
        text-transform: uppercase;
        margin: 1rem 0 1rem;
    }
}

.bg_image{
    background-image: url("/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bg-logo{
    background-image: url("/img/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 550px;
    background-position: right; 
}

.col{
    margin-right: 3rem;
}
 ul{
     padding-left: 0;
    li{
        list-style: none;
        
    }
}

.end-footer{
    background-color:#303030 ;
    text-transform: uppercase;
    color: #0282F9;
    font-size: 1.2rem;

    button{
        border: solid 2px #0282F9;
        background-color: transparent ;
        color:white;
        text-transform: uppercase;
        padding: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .row{
        padding: 2rem 0 2rem;
        align-items: center;
    }
}


.social{
    gap: 1rem;
}