main{
    background-color: #1C1C1C;
}
.container{
    position: relative;
}

button{
background-color:  #0282F9;
border: none;
color: white;
text-transform: uppercase;
padding: 1rem 2rem;
font-size: 1.5rem;
cursor: pointer;
font-weight: bold;
}
.current{
position: absolute;
top: -30px;
}
.load{
font-size: 1rem;
padding: 1rem 4rem;
}
.btn-center{
display: flex;
justify-content: center;
margin-top: 2rem;
padding: 1rem 5rem;
}